// Set these five params at a minimum
params.input = 'samplesheet.csv'
params.fasta = '/home/aa7013/genomes/H-contortus/haemonchus_contortus.PRJEB506.WBPS16.genomic.fa'
params.gtf = '/home/aa7013/annotations/H-contortus/haemonchus_contortus.PRJEB506.WBPS16.canonical_geneset.gtf'
out_root = '/scratch/aa7013/Hco_RNA-seq/out_adults'
params.email = 'aa7013@nyu.edu'

// Only make changes below if required
params.outdir = out_root + '/results'
workDir = out_root + '/nextflow_work'

process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    cpus = { 6 * task.attempt }
    memory = { 20.GB * task.attempt }
    time = { 1.h * task.attempt }
    withName: SORTMERNA {
        memory = 180.GB
    }
    withName: 
    errorStrategy = 'retry'
    maxRetries = 3
}
